# Python cache and compiled files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/
*.env

# VS Code workspace settings
.vscode/

# Jupyter/IPython
.ipynb_checkpoints/

# Mac/Windows system files
.DS_Store
Thumbs.db

# Data and result files
*.csv
*.xlsx
*.xls
Optimization results/